
.container {
  margin-top: 50px;
}

.tag {
  margin-right: 5px;
  margin-bottom: 5px;
  height: 10px;
  padding: 5px;
  background-color: rgba(40, 143, 144, 0.26);
  border-radius: 2px;
}

.question-box {
  height: 20px;
  /*border-bottom: 1px solid rgba(128, 128, 128, 0.16);*/
  padding-bottom: 75px;
  margin-bottom: 30px;
  display:block;
}

.content {
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.question-title {
  margin-top: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.stats {
  text-align: center;
  margin: 0;
  height: 55px;
  width: 80px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.ans {
  background-color: rgba(60, 118, 61, 0.86);
  color: white;
}

.stat-box {
  padding: 0;
}

.loading-fill {
  margin-top: 150px;
  text-align: center;
}

.activity {
  background-color: rgba(0, 135, 255, 0.11);
  height: 80px;
  width: 100%;
}
